.contenedor{
    height: 50rem;
    width: 50rem;
    background-color: antiquewhite;
    width: 24.3rem;
    /*height: 52.7rem;
    background-color: rgb(243, 240, 235);
    display: flex;
    position: relative;*/

}
.cajita{
    width: 24.3rem;
/*     height: 52.7rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 4rem;
}

/*menu con rayitas y el don*/
.rayitas{
    cursor: pointer;
    justify-content: center;

}
.señor{
    cursor: pointer;
    justify-content: center;

}

/*destino question*/
.yo{
    font-size: 2rem;
    position: absolute;
    top: 3rem;
    left: 1.8rem;
}

/*coso de icono y busqueda*/
 .busque{
    width: 16rem;
    height: 2.6rem;
    background-color: #FFFFFF;
    position: absolute;
    top: 146px;
    left: 20px;
    box-shadow: 5px 4px 10px rgba(87, 75, 75, 0.812);
    border-radius: 10px;
}
.busqueda{
    font-size: 1rem;
    color: rgb(235, 242, 240);
    position: absolute;
    left: 1rem;
    top: 0.6rem;
}
.busqueda1{
    width: 2.7rem;
    height: 2.6rem;
    background-color: #FF7A1A;
    position: absolute;
    top: 9.1rem;
    left: 19rem;
    border-radius: 5px;
    box-shadow: 5px 4px 10px rgb(250, 248, 248);
}
.busqueda2{
    
    position: absolute;
    left: 0.3rem;
    top: 0.2rem;
}

/*  los cuadritos  */
.cuadritos{
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    background: #fd7515;
    position: absolute;
    top: 16rem;
    left: 1.6rem;
    border-radius: 5px;
    box-shadow: 5px 4px 10px rgba(241, 167, 5, 0.5);
}
.plane{
    width: 20em;
    height: 20rem;
    position: absolute;
    top: 16%;
    left: 25%;
}
.plane1{
    font-size: 13px;
    color: #FFFFFF;
    position: absolute;
    top: 68%;
    left: 30%;
}
/*+++++++++++++++++++*/
.cuadritos1{
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    background: #9e86e0;
    position: absolute;
    top: 16rem;
    left: 7.4rem;
    border-radius: 5px;
    box-shadow: 5px 4px 10px rgba(237, 179, 255, 0.5);
}
.hotel{
    width: 20em;
    height: 20rem;
    position: absolute;
    top: 0;
    left: 25%;
}
.hotel1{
    font-size: 13px;
    color: #FFFFFF;
    position: absolute;
    top: 70%;
    left: 30%;
}

/*+++++++++++++++++++*/
.cuadritos2{
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    background: #ee8b44;
    position: absolute;
    top: 16rem;
    left: 13rem;
    border-radius: 5px;
    box-shadow: 5px 4px 10px rgba(241, 167, 5, 0.5);
}
.comida{
    width: 20em;
    height: 20rem;
    position: absolute;
    top: 0.3rem;
    left: 25%;
}
.comida1{
    font-size: 13px;
    color: #FFFFFF;
    position: absolute;
    top: 70%;
    left: 30%;
}

/*+++++++++++++++++*/
.cuadritos3{
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    background: #8c84f7;
    position: absolute;
    top: 16rem;
    left: 18.3rem;
    border-radius: 5px;
    box-shadow: 5px 4px 10px rgba(179, 184, 255, 0.5);
}
.event{
    width: 20em;
    height: 20rem;
    position: absolute;
    top: 0.3rem;
    left: 22%;
}
.event1{
    font-size: 13px;
    color: #FFFFFF;
    position: absolute;
    top: 70%;
    left: 30%;
}

/*names de los cuadritos*/
.ttl1{
    width: 4rem;
    height: 1rem;
    font-size: 1.2rem;
    position: absolute;
    top: 20rem;
    left: 2rem;
    border-radius: 5px;
}
.ttl2{
    width: 4rem;
    height: 1rem;
    font-size: 1.2rem;
    position: absolute;
    top: 20rem;
    left: 7.4rem;
    border-radius: 5px;
}
.ttl3{
    width: 4rem;
    height: 1rem;
    font-size: 1.2rem;
    position: absolute;
    top: 20rem;
    left: 13rem;
    border-radius: 5px;
}
.ttl4{
    width: 4rem;
    height: 1rem;
    font-size: 1.2rem;
    position: absolute;
    top: 20rem;
    left: 18.3rem;
    border-radius: 5px;
}

/*imagen 1*/
.cui{
    /*position: absolute;
    width: 2px;
    height: 4rem;
    left: 21px;
    top: 422px;
    
    background: url(.jpg);
    filter: drop-shadow(4px 10px 10px rgba(0, 0, 0, 0.15));
    border-radius: 15px;*/
    cursor: pointer;

    position: absolute;
    top: 23.6rem;
    left: 0.5rem;

}
.cui1{
    cursor: pointer;
    font-size: 2rem;
    color: #FFFFFF;

    position: absolute;
    top: 43.3rem;
    left: 2rem;
}
.location2{
    cursor: pointer;
    color: #FFFFFF;
    position: absolute;
    left: 3.9rem;
    top: 46.1rem;
}

/* imagen 2*/
.globito1{
    cursor: pointer;

    width: 5rem;
    position: absolute;
    left: 352px;
    top: 23.6rem;
}
.globito2{
    cursor: pointer;

    font-size: 2rem;
    color: #FFFFFF;

    position: absolute;
    top: 43.6rem;
    left: 22.8rem;
}
.location4{
    cursor: pointer;

    color: #FFFFFF;
    position: absolute;
    left: 24rem;
    top: 46.1rem;
}

/*cosos de abajo*/
.home{
    position: absolute;
    top: 50.3rem;
    left: 2.33%;
    cursor: pointer;
}
.person{
    position: absolute;
    top: 50.3rem;
    left: 8.66%;
    cursor: pointer;
}
.chat{
    position: absolute;
    top: 50.3rem;
    left: 15.67%;
    cursor: pointer;
}
.book{
    position: absolute;
    top: 50.3rem;
    left: 18.67%;
    cursor: pointer;
}
